<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <properties>
        <property name="logPath">logs</property>
        <property name="logLevel">info</property>
        <property name ="project" >spring-cloud-app-demo</property>
    </properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!-- complete="true"   Complete well-formed JSON    -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{22}.%M\(%line\) - %msg%n" />

        </Console>
    </Appenders>

    <Loggers>
    <Logger name="com.github.ordiy" level="debug" additivity="false">
        <AppenderRef ref="console"/>
    </Logger>
    <Root level="debug">
        <AppenderRef ref="console"/>
    </Root>
    </Loggers>
</Configuration>